RewriteEngine On
RewriteBase /drive-ukraine-now/

# Redirect all requests to the index.html file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /drive-ukraine-now/index.html [L]
